@media all and (max-width: 1160px) { label { display: block; }
  .upload1Contain input { width: 96%; } }
@media all and (max-width: 450px) { h4 { margin: 0px; border-bottom: 1px solid black; padding: 5px; background-color: #FEFEFA; cursor: pointer; }
  label { padding-top: 10px; padding-left: 10px; }
  .uploadSection { display: none; background-color: #e2e2d9; }
  #submit { padding: 10px; font-size: 1.5em; border: 1px solid #e9e990; border-radius: 4px; background-color: white; }
  #file { background-color: #e2e2d9; }
  #fileHeader { display: block; } }
/*
**CONTRIBUTE
*/
#contrib { height: 92%; width: 100%; position: relative; overflow: hidden; }

#contribOuter { width: 50%; height: 100%; margin-left: auto; margin-right: auto; text-align: center; }

#contribInner { width: 100%; height: 27%; }

#uploadOuter { width: 70%; margin-left: auto; margin-right: auto; overflow-y: scroll; }
@media all and (max-width: 750px) { #uploadOuter { width: 100%; } }

#innerContrib { width: 50%; height: 100%; float: right; overflow-y: scroll; }
@media all and (max-width: 750px) { #innerContrib { width: 100%; height: 100%; } }

#mapContrib { width: 50%; height: 100%; float: left; }
@media all and (max-width: 750px) { #mapContrib { width: 100%; height: 100%; } }

#fileInputDiv { width: 40px; height: 40px; background: url(../imgs/uploadBtn.png); background-repeat: no-repeat; background-size: cover; overflow: hidden; cursor: pointer; }

#fileInputDiv input { display: block !important; width: 40px !important; height: 40px !important; opacity: 0 !important; overflow: hidden !important; cursor: pointer; }

#fileUploadContain { width: 60%; margin-right: auto; margin-left: auto; }

#fileUploadStatus { background-color: #e25050; padding: 10px; width: 100px; margin-top: 10px; font-size: 0.75em; border-radius: 3px; }

.contribInput { margin-top: 4%; }

.uploadContain { margin-left: 10%; padding-right: 10%; }

.upload1Contain { margin-left: 10%; width: 80%; display: inline-block; }
@media all and (max-width: 450px) { .upload1Contain { width: 100%; margin-left: 0px; } }

#contribSubmitContainer { width: 100%; height: 100%; float: right; position: fixed; display: none; }

#contribSubmit { margin-left: auto; margin-right: auto; width: 30%; margin-top: 30%; }

#pac-input { width: 70%; height: 3%; margin-top: 15%; margin-left: 5%; padding-bottom: 5px; font-size: 1.5em; }

.uploadInput { margin-bottom: 2%; }

.upload1Input { margin-bottom: 2%; }

.uploadHeader { margin-left: auto; margin-right: auto; width: 50%; }

#aboutInput { padding-bottom: 5%; width: 98%; }

#submitRules li { font-size: 1em; padding-bottom: 3px; }

#upload1Form { overflow-y: scroll; }

.scrollBtn { display: none; }
@media all and (max-width: 750px) { .scrollBtn { display: inline; } }

#scroll-down { padding-bottom: 15px; }

.scrollBtn p { margin: 0px; font-size: .75em; text-decoration: none; color: black; }

#mapIntruct { width: 60%; display: none; border: 1px solid black; background-color: #FEFEFA; text-align: center; font-size: 1em; }
@media all and (max-width: 750px) { #mapIntruct { display: inline; } }

.rightSide { float: right; }
@media all and (max-width: 750px) { .rightSide { width: 100%; float: none; } }

.leftSide { float: left; }
@media all and (max-width: 750px) { .leftSide { width: 100%; float: none; } }

/*# sourceMappingURL=contribute.css.map */
