{% include "views/header.html" %}

<div>
  <!-- left side -->
  <div class='map-container'>
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map"></div>
  </div>

  <!-- right side -->
  <form method="post" action="/upload">

    <section>
      <h2>Required</h2>
      <h3>Upload the file:<h3>
      <input type="file" name='file' id="file-input"/>
      <input type="hidden" name='incident[cloud_id]' id="hidden-file-input"/>
      <h3>Select a Location (use map)<h3>
        <div class="location-confirm">Use Current Location</div>
        <input type="text" name='incident[lat]' id="lat-input"/>
        <input type="text" name='incident[lng]' id="lng-input"/>
      <h3>Tell us about the incident:</h3>
      <textarea name="incident[about]"></textarea>
      <h3>What does the video depict? (Check all that apply):</h3>
      <span>Docile Interaction</span> <input type="checkbox" name="incident[type]" value="docile" />
      <span>Physical Violence</span> <input type="checkbox" name="incident[type]" value="brutal" />
      <span>Fatal Encounter</span> <input type="checkbox" name="incident[type]" value="fatal" />
    </section>

    <div class="upload-submit-container">
      <input type="submit" value="Submit Now!" id="required-submit-btn"/>
    </div>

    <section>
      <h2>Optional</h2>

      <div class="input-group">
        <div class="upload-label">
          <span>
            When did this confrontation occur?
          </span>
          <input type="date" name="incident[date]" />
        </div>
      </div>

      <h3>Who was confronted?</h3>
      <div class="input-group">
        <div class="upload-label">
          <span>First Name:</span>
          <input type="text" name="incident[firstName]" />
        </div>
      <br/>
        <div class="upload-label">
          <span>Last Name:</span>
          <input type="text" name="incident[lastName]" />
        </div>
      </div>

      <div class="input-group">
        <div class="upload-label">
          <span>Race:</span>
          <select type="text" name="incident[race]">
            <option value="non-disclosed">Unknown / Prefer not to disclose</option>
            <option value="white">White</option>
            <option value="hispanic">Hispanic / Latino</option>
            <option value="black">Black / African American</option>
            <option value="native">Native American / American Indian</option>
            <option value="asian">Asian / Pacific Islander</option>
            <option value="other">Other</option>
          </select>
        </div>
        <br/>
        <div class="upload-label">
          <span>Gender:</span>
          <select name="incident[gender]" />
            <option value="non-disclosed">Unknown / Prefer not to disclose</option>
            <option value="man">Man</option>
            <option value="woman">Woman</option>
            <option value="trans-man">Trans Man</option>
            <option value="trans-woman">Trans Woman</option>
            <option value="non-binary">Non-Binary/Gender Queer</option>
          </select>
        </div>
        <br/>
        <div class="upload-label">
          <span>Age:</span>
          <input type="number" name="incident[age]"/>
        </div>
        <br/>
          <div class="upload-label">
            <span>Disablility:</span>
            <br/>
            Yes: <input type="radio" name="incident[disablility]" value="yes"/>
            <br/>
            No: <input type="radio" name="incident[disablility]" value="no"/>
          </div>
      </div>

      <div class="input-group">
        <div class="upload-label">
          <span>Where they charged?</span>
          <br/>
          Yes: <input type="radio" name="incident[charged]" value="yes"/>
          <br/>
          No: <input type="radio" name="incident[charged]" value="no"/>
        </div>
      <br/>
        <div class="upload-label">
          <span>If so, with what:</span>
          <input type="text" name="incident[chargedWith]" />
        </div>
      <br/>
        <div class="upload-label">
          <span>Where they convicted?</span>
          <br/>
          Yes: <input type="radio" name="incident[convicted]" value="yes"/>
          <br/>
          No: <input type="radio" name="incident[convicted]" value="no"/>
        </div>
      </div>

      <h3>Tell us the officer:</h3>
      <div class="input-group">
        <div class="upload-label">
          <span>First Name:</span>
          <input type="text" name="incident[officerFirstName]" />
        </div>
      <br/>
        <div class="upload-label">
          <span>Last Name:</span>
          <input type="text" name="incident[officerLastName]" />
        </div>
      </div>

      <div class="input-group">
        <div class="upload-label">
          <span>Race:</span>
          <select type="text" name="incident[officerRace]">
            <option value="non-disclosed">Unknown / Prefer not to disclose</option>
            <option value="white">White</option>
            <option value="hispanic">Hispanic / Latino</option>
            <option value="black">Black / African American</option>
            <option value="native">Native American / American Indian</option>
            <option value="asian">Asian / Pacific Islander</option>
            <option value="other">Other</option>
          </select>
        </div>
        <br/>
        <div class="upload-label">
          <span>Gender:</span>
          <select name="incident[officerGender]" />
            <option value="non-disclosed">Unknown / Prefer not to disclose</option>
            <option value="man">Man</option>
            <option value="woman">Woman</option>
            <option value="trans-man">Trans Man</option>
            <option value="trans-woman">Trans Woman</option>
            <option value="non-binary">Non-Binary/Gender Queer</option>
          </select>
        </div>
      </div>

      <div class="input-group">
        <div class="upload-label">
          <span>Where they charged?</span>
          <br/>
          Yes: <input type="radio" name="incident[officerCharged]" value="yes"/>
          <br/>
          No: <input type="radio" name="incident[officerCharged]" value="no"/>
        </div>
      <br/>
        <div class="upload-label">
          <span>If so, with what:</span>
          <input type="text" name="incident[officerChargedWith]" />
        </div>
      <br/>
        <div class="upload-label">
          <span>Where they convicted?</span>
          <br/>
          Yes: <input type="radio" name="incident[officerConvicted]" value="yes"/>
          <br/>
          No: <input type="radio" name="incident[officerConvicted]" value="no"/>
        </div>
      </div>

      <h3>What's your email?</h3>
      <div class="input-group">
        <div class="upload-label">
          <span>
            This is completelty optional. It's so we so we can contact you if
            nessecary and so you can keep track of the videos you upload.
          </span>
          <br/>
          <input type="text" name="incident[user_email]" />
        </div>
      </div>
    </section>

    <div class="upload-submit-container">
      <input type="submit" id='optional-submit-btn'/>
    </div>
  </form>
</div>

<script>
  if (window.PBVD === undefined){
    window.PBVD = {};
  }
  window.PBVD.file_upload_endpoint = JSON.parse('{{ file_upload_endpoint | safe }}');
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?libraries=places&key={{ MAPS_API_KEY }}&callback=initMap">
</script>
