<div id="videoContainer"
      class="player">
    <span id="videoClose">X</span>
    <br>
    <center><video id="video"  
           width="320" 
           height="240" 
           controls>
      <source type="video/mp4">
      <source type="video/webm">
        Your browser does not support the video tag.
    </video></center>
    <div id="videoData">
        <span style="float: left;" id="videoName"></span>
        <span style="float: right;" id="videoPromoted"></span>
        <br>
        <span style="float: left;" id="videoDate"></span>
        <span style="float: right;" id="videoLocation"></span>
        <br>
        <span style="float: right;" id="videoViewed"></span>
        <br>
        <br>
        <span id="videoAboutTitle"><u>DESCRIPTION</u></span>
        <div id="videoAbout"></div>
        <br>
        <br>
        <div id="investigateTitle">-RESEARCH-</div>
        <br>
        <br>
    </div>
</div>

<div id="blanket" class="player"></div>
<div id="map-canvas"></div>
<div id="loading">Loading Map...</div>
<div id="keyBox">
    <center><u>Key</u></center>
    <br>
    <img src="imgs/fatalMarker.png"> Fatal Incidents<br>
    <img src="imgs/brutalMarker.png"> Police Brutality<br>
    <img src="imgs/wrongfulMarker.png"> Wrongful Arrest<br>
    <img src="imgs/defaultMarker.png"> Other Interactions<br>
</div>

{% if dev_mode %}
<script type="text/javascript" src="scripts/main.js"></script>
{% else %}
<script type="text/javascript" src="scripts/main.min.js"></script>
{% endif %}

{% if results %}
<script>
    WWWATCH.SERVER_OPTS = {};
    WWWATCH.SERVER_OPTS['results'] = {{ results|safe }}.records;
    
    for(var i = 0; i < WWWATCH.SERVER_OPTS.results.length; i += 1){
        var record = WWWATCH.SERVER_OPTS.results[i]

        if(record.id == {{ choiceID }}){
            WWWATCH.SERVER_OPTS['lat'] = record.lat;
            WWWATCH.SERVER_OPTS['lng'] = record.lng;
            WWWATCH.SERVER_OPTS['zoom'] = 22;
            break;
        }
    }
    
    WWWATCH.SERVER_OPTS['lat'] = WWWATCH.SERVER_OPTS['lat'] || 40.477418;
    WWWATCH.SERVER_OPTS['lng'] = WWWATCH.SERVER_OPTS['lng'] || -98.441178;
</script>
{% elif latlng %}
    <script>
        WWWATCH.SERVER_OPTS = {};
        WWWATCH.SERVER_OPTS['lat'] = parseFloat("{{ latlng }}".split(',')[0]);
        WWWATCH.SERVER_OPTS['lng'] = parseFloat("{{ latlng }}".split(',')[1]);
    </script>
{% else %}
    <script>
        WWWATCH.SERVER_OPTS = {};
        WWWATCH.SERVER_OPTS['lat'] = 40.477418;
        WWWATCH.SERVER_OPTS['lng'] = -98.441178;
    </script>
{% endif %}

<script>
    //page loading...set cursor
    document.body.style.cursor = "wait";

    //add event listeners
//    document.getElementById("blanket").addEventListener("click", function () {
//        "use strict";
//        WWWATCH.Video.hideVideo();
//    });
//
//    document.getElementById("videoClose").addEventListener("click", function () {
//        "use strict";
//        WWWATCH.Video.hideVideo();
//    });

    window.onload = function () {
        "use strict";
//        WWWATCH.Video.hideVideo();

//        WWWATCH.RecManager = new WWWATCH.RecordManager();
        WWWATCH.startMap(WWWATCH.RecManager,WWWATCH.SERVER_OPTS);
    };
</script>

