@import 'variables';

html, body, #map-canvas { 
    height: 100%; 
    margin: 0; 
    padding: 0;
    font-family: $siteFont, sans-serif;
    background-color: $bgColor;
}

#map-canvas{
    position: fixed;
    height: 92%;
}

form{
    height : 100%;
    margin: 0; 
    padding: 0;
    overflow-y: scroll;
}

a {
    color: #280c2f;
    text-decoration: none;
}

/*
* CLASSES
*/

.player {
    z-index: 2;
    position: fixed;
    top: 46%;
    left: 50%;
    /* bring your own prefixes */
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%, -50%);
}



/*
*NAVIGATION
*/
$numbOfMenuItems : 3;

#fixednav {
    margin: 0;
    padding: 0;
    -webkit-padding-start: 0;
    padding-bottom: 1.5em;
    border-bottom: 1px solid $textColor;
    font-size: 1.5em;
}

.menuItem {
    list-style: none;
    margin: 0;
    display: inline;
    z-index: 5;
    width: 100% / $numbOfMenuItems;
    float: left;
    text-align: center;
    color: $textColor;
}

.menuItem:hover {
    color: $textColor_hover;
}